<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Walk a Pup</title>
</head>
<body data-ng-app="wapApp">
  <section data-ng-controller="dogController">

    <h1>All Dogs</h1>
		<ul>
			<li data-ng-repeat='dog in dogs'> {{dog.dogName}} {{dog.favoriteToy}} - {{dog.kibblePreference}}
        <button data-ng-click='dog.editing = !dog.editing'>Update Dog</button>
				<button data-ng-click='deleteDog(dog)'>Delete Dog</button>
				<form data-ng-if='dog.editing' data-ng-submit='updateDog(dog)'>
					<input data-ng-model='dog.dogName' type='text' placeholder='Dog Name'/>
          <input data-ng-model='dog.favoriteToy' type='text' placeholder='Favorite Toy'/>
          <input data-ng-model='dog.kibblePreference' type='text' placeholder='Kibble Preference'/>
					<button type='submit'>Update</button>
				</form>
			</li>
		</ul>

		<h2>New Dogs</h2>
		<p>Add dog</p>
		<form data-ng-submit='createDog(newDog)'>
			<input data-ng-model='newDog.dogName' type='text' placeholder='Dog Name'/>
			<input data-ng-model='newRequest.lastName' type='text' placeholder='Favorite Toy'/>
      <input data-ng-model='newRequest.giftCard' type='text' placeholder='Kibble Preference'/
			<input type='submit'/>
		</form>

	<section data-ng-controller="humanController">
		<h1>All Humans</h1>
		<ul>
			<li data-ng-repeat='donor in donors'> {{donor.username}} at {{donor.organisation}} - Donor ID: {{donor._id}}, Email: {{donor.authentication.email}}
        <button data-ng-click='donor.editing = !donor.editing'>Update Donor</button>
				<button data-ng-click='deleteDonor(donor)'>Delete Donor</button>
				<form data-ng-if='donor.editing' data-ng-submit='updateDonor(donor)'>
					<input data-ng-model='donor.name' type='text' placeholder='Username'/>
					<input data-ng-model='donor.fitnessLevel' type='text' placeholder='Organisation'/>
					<input data-ng-model='donor.dogPreference' type='text' placeholder='Email'/>
					<button type='submit'>Update</button>
				</form>
			</li>
		</ul>

		<h2>New Humans</h2>
		<p>Sign up to walk a doggy</p>
		<form data-ng-submit='createHuman(human)'>
			<input data-ng-model='donor.username' type='text' placeholder='Username'/>
			<input data-ng-model='donor.email' type='text' placeholder='Email'/>
			<input data-ng-model='donor.password' type='text' placeholder='Password'/>
			<button type='submit'>Sign Up!</button>
		</form>
	</section>

  <script src="bundle.js"></script>
</body>
</html>
